<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true">

    <testsuites>
        <testsuite name="Naricitas Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <file>./src/jwt.php</file>
        </include>
    </source>

    <coverage>
        <report>
            <html outputDirectory="coverage" lowUpperBound="50" highLowerBound="80"/>
            <text outputFile="php://stdout"/>
        </report>
    </coverage>

</phpunit>
